# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=2.1.0=pypi_0
accelerate=1.1.1=pypi_0
aiohappyeyeballs=2.4.3=pypi_0
aiohttp=3.11.7=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.14.0=pypi_0
annotated-types=0.7.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyascii=0.3.2=pypi_0
anyio=4.7.0=pypi_0
appnope=0.1.4=pyhd8ed1ab_0
asteroid-filterbanks=0.4.0=pypi_0
asttokens=3.0.0=pypi_0
astunparse=1.6.3=pypi_0
attrs=24.2.0=pypi_0
audioread=3.0.1=pypi_0
babel=2.16.0=pypi_0
bibtexparser=2.0.0b7=pypi_0
blis=0.7.11=pypi_0
build=1.2.2.post1=pypi_0
bzip2=1.0.8=h80987f9_6
ca-certificates=2024.8.30=hf0a4a13_0
cachecontrol=0.14.1=pypi_0
catalogue=2.0.10=pypi_0
certifi=2024.12.14=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.0=pypi_0
cleo=2.1.0=pypi_0
click=8.1.7=pypi_0
clldutils=3.24.0=pypi_0
cloudpathlib=0.20.0=pypi_0
colorama=0.4.6=pypi_0
colorlog=6.9.0=pypi_0
comm=0.2.2=pyhd8ed1ab_0
confection=0.1.5=pypi_0
contourpy=1.3.1=pypi_0
coqpit=0.0.17=pypi_0
coqui-tts=0.24.3=pypi_0
coqui-tts-trainer=0.1.7=pypi_0
crashtest=0.4.1=pypi_0
cryptography=44.0.0=pypi_0
csvw=3.5.1=pypi_0
cycler=0.12.1=pypi_0
cymem=2.0.10=pypi_0
cython=3.0.11=pypi_0
dataclasses-json=0.6.7=pypi_0
dateparser=1.1.8=pypi_0
debugpy=1.6.7=py312h313beb8_0
decorator=4.4.2=pypi_0
denoiser=0.1.5=pypi_0
distlib=0.3.9=pypi_0
dlinfo=1.2.1=pypi_0
docopt=0.6.2=pypi_0
dulwich=0.21.7=pypi_0
einops=0.8.0=pypi_0
encodec=0.1.1=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.1.0=pyhd8ed1ab_0
expat=2.6.3=h313beb8_0
fastjsonschema=2.21.1=pypi_0
ffmpeg=1.4=pypi_0
ffmpeg-python=0.2.0=pypi_0
filelock=3.16.1=pypi_0
flatbuffers=24.3.25=pypi_0
fonttools=4.55.0=pypi_0
frozenlist=1.5.0=pypi_0
fsspec=2024.10.0=pypi_0
future=1.0.0=pypi_0
gast=0.6.0=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.68.1=pypi_0
gruut=2.4.0=pypi_0
gruut-ipa=0.13.0=pypi_0
gruut-lang-de=2.0.1=pypi_0
gruut-lang-en=2.0.1=pypi_0
gruut-lang-es=2.0.1=pypi_0
gruut-lang-fr=2.0.2=pypi_0
h11=0.14.0=pypi_0
h5py=3.12.1=pypi_0
httpcore=1.0.7=pypi_0
httpx=0.28.1=pypi_0
huggingface-hub=0.26.2=pypi_0
hydra-colorlog=0.1.4=pypi_0
hydra-core=0.11.3=pypi_0
hyperpyyaml=1.2.2=pypi_0
idna=3.10=pypi_0
imageio=2.36.0=pypi_0
imageio-ffmpeg=0.5.1=pypi_0
importlib-metadata=8.5.0=pyha770c72_0
inflect=7.4.0=pypi_0
installer=0.7.0=pypi_0
ipykernel=6.29.5=pyh57ce528_0
ipython=8.30.0=pyh707e725_0
isodate=0.7.2=pypi_0
jaraco-classes=3.4.0=pypi_0
jedi=0.19.2=pyhff2d567_0
jinja2=3.1.4=pypi_0
joblib=1.4.2=pypi_0
jsonlines=1.2.0=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
julius=0.2.7=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_0
jupyter_core=5.7.2=pyh31011fe_1
keras=3.7.0=pypi_0
keyring=24.3.1=pypi_0
kiwisolver=1.4.7=pypi_0
langchain=0.3.10=pypi_0
langchain-core=0.3.22=pypi_0
langchain-text-splitters=0.3.2=pypi_0
langcodes=3.5.0=pypi_0
langsmith=0.1.147=pypi_0
language-data=1.3.0=pypi_0
language-tags=1.2.0=pypi_0
lazy-loader=0.4=pypi_0
libclang=18.1.1=pypi_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_1
librosa=0.10.2.post1=pypi_0
libsodium=1.0.18=h27ca646_1
lightning=2.4.0=pypi_0
lightning-utilities=0.11.9=pypi_0
llvmlite=0.43.0=pypi_0
lxml=5.3.0=pypi_0
mako=1.3.6=pypi_0
marisa-trie=1.2.1=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=pypi_0
marshmallow=3.23.1=pypi_0
matplotlib=3.9.3=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mdurl=0.1.2=pypi_0
ml-dtypes=0.4.1=pypi_0
more-itertools=10.5.0=pypi_0
moviepy=1.0.3=pypi_0
mpmath=1.3.0=pypi_0
msal=1.31.1=pypi_0
msgpack=1.1.0=pypi_0
multidict=6.1.0=pypi_0
murmurhash=1.0.11=pypi_0
mypy-extensions=1.0.0=pypi_0
namex=0.0.8=pypi_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
networkx=3.4.2=pypi_0
num2words=0.5.13=pypi_0
numba=0.60.0=pypi_0
numpy=1.26.4=pypi_0
office365-rest-python-client=2.5.13=pypi_0
omegaconf=1.4.1=pypi_0
opencv-contrib-python=4.10.0.84=pypi_0
opencv-python=4.10.0.84=pypi_0
openssl=3.4.0=h39f12f2_0
opt-einsum=3.4.0=pypi_0
optree=0.13.1=pypi_0
optuna=4.1.0=pypi_0
orjson=3.10.12=pypi_0
packaging=24.2=pyhff2d567_1
pandas=2.2.3=pypi_0
parso=0.8.4=pyhd8ed1ab_0
pexpect=4.9.0=pyhd8ed1ab_0
phonemizer=3.3.0=pypi_0
pickleshare=0.7.5=py_1003
pillow=10.4.0=pypi_0
pip=24.3.1=pypi_0
pkginfo=1.12.0=pypi_0
platformdirs=4.3.6=pyhd8ed1ab_0
poetry=1.8.5=pypi_0
poetry-core=1.9.1=pypi_0
poetry-plugin-export=1.8.0=pypi_0
pooch=1.8.2=pypi_0
preshed=3.0.9=pypi_0
primepy=1.3=pypi_0
proglog=0.1.10=pypi_0
prompt-toolkit=3.0.48=pyha770c72_0
propcache=0.2.0=pypi_0
protobuf=5.29.2=pypi_0
psutil=6.1.0=pypi_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.3=pyhd8ed1ab_0
pyannote-audio=3.3.2=pypi_0
pyannote-core=5.0.0=pypi_0
pyannote-database=5.1.0=pypi_0
pyannote-metrics=3.2.1=pypi_0
pyannote-pipeline=3.0.1=pypi_0
pycparser=2.22=pypi_0
pydantic=2.10.1=pypi_0
pydantic-core=2.27.1=pypi_0
pydub=0.25.1=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pyjwt=2.10.1=pypi_0
pylatexenc=2.10=pypi_0
pyparsing=3.2.0=pypi_0
pyproject-hooks=1.2.0=pypi_0
pysbd=0.3.4=pypi_0
pystoi=0.4.1=pypi_0
python=3.12.7=h99e199e_0
python-crfsuite=0.9.11=pypi_0
python-dateutil=2.9.0.post0=pyhff2d567_0
python-dotenv=1.0.1=pypi_0
pytorch-lightning=2.4.0=pypi_0
pytorch-metric-learning=2.7.0=pypi_0
pytz=2024.2=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=25.1.2=py312h313beb8_0
rapidfuzz=3.11.0=pypi_0
rdflib=7.1.1=pypi_0
readline=8.2=h1a28f6b_0
referencing=0.35.1=pypi_0
regex=2024.11.6=pypi_0
requests=2.32.3=pypi_0
requests-toolbelt=1.0.0=pypi_0
rfc3986=1.5.0=pypi_0
rich=13.9.4=pypi_0
rpds-py=0.21.0=pypi_0
ruamel-yaml=0.18.6=pypi_0
ruamel-yaml-clib=0.2.12=pypi_0
safetensors=0.4.5=pypi_0
scikit-learn=1.5.2=pypi_0
scipy=1.14.1=pypi_0
segments=2.2.1=pypi_0
semver=3.0.2=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=75.6.0=pypi_0
shellingham=1.5.4=pypi_0
six=1.17.0=pypi_0
smart-open=7.0.5=pypi_0
sniffio=1.3.1=pypi_0
sortedcontainers=2.4.0=pypi_0
sounddevice=0.5.1=pypi_0
soundfile=0.12.1=pypi_0
soxr=0.5.0.post1=pypi_0
spacy=3.7.5=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
speechbrain=1.0.2=pypi_0
sqlalchemy=2.0.36=pypi_0
sqlite=3.45.3=h80987f9_0
srsly=2.4.8=pypi_0
stack-data=0.6.3=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
sudachidict-core=20241021=pypi_0
sudachipy=0.6.9=pypi_0
sympy=1.13.1=pypi_0
tabulate=0.9.0=pypi_0
tenacity=9.0.0=pypi_0
tensorboard=2.18.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorboardx=2.6.2.2=pypi_0
tensorflow=2.18.0=pypi_0
termcolor=2.5.0=pypi_0
thinc=8.2.5=pypi_0
threadpoolctl=3.5.0=pypi_0
tk=8.6.14=h6ba3021_0
tokenizers=0.20.3=pypi_0
tomlkit=0.13.2=pypi_0
torch=2.5.1=pypi_0
torch-audiomentations=0.11.1=pypi_0
torch-pitch-shift=1.2.5=pypi_0
torchaudio=2.5.1=pypi_0
torchmetrics=1.6.0=pypi_0
torchvision=0.20.1=pypi_0
tornado=6.4.1=py312h80987f9_0
tqdm=4.67.0=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
transformers=4.46.3=pypi_0
trove-classifiers=2024.10.21.16=pypi_0
typeguard=4.4.1=pypi_0
typer=0.13.1=pypi_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.12.2=pyha770c72_0
tzdata=2024.2=pypi_0
tzlocal=5.2=pypi_0
unidecode=1.3.8=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.2.3=pypi_0
virtualenv=20.28.0=pypi_0
wasabi=1.1.3=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
weasel=0.4.1=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.45.1=pypi_0
wrapt=1.17.0=pypi_0
xattr=1.1.0=pypi_0
xz=5.4.6=h80987f9_1
yarl=1.18.0=pypi_0
yt-dlp=2024.11.18=pypi_0
zeromq=4.3.5=h313beb8_0
zipp=3.21.0=pyhd8ed1ab_1
zlib=1.2.13=h18a0788_1
